.icon-contain strong{
    font-size: 11px;
    color: #479af5;
    font-weight: 400;
    
}
.icon-contain h2{ 
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 40px;
    margin-top: 6px;
    position: relative;
} 
.icon-contain h2::before{
    content: "";
    position: absolute;
    width: 49px;
    height:2px;
    top: 102px;
    left: 0; 
    background:#3763eb;
}
.icon-contain p{
    font-size: 15px;
    color: #877889;
} 


.icon-image:hover{
    background: #f6f9fc;
   
}
.icon-image{
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}



img{
    max-width: 100%;
}
.blog h5{ 
    font-size: 15px;
    color: #3663eb;
}
.blog h2{ 
    font-size: 36px;
    font-weight: 700;
    position: relative;
}
.blog h2::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 42px;
    top: 65px; 
    left: 310px;
    background:#3663eb ;
} 
 .blog p{
     font-size: 16px;
     margin-top: 38px;
     color: #9f98a9;
} 



.containt-sectiom h2{
    font-size: 21px;

    font-weight: 600;
    margin-top: 28px;
}
.containt-sectiom p{
    font-size: 15px;
    color: #a19bab;
    margin-top: 22px;
}




.image-section{
    position:relative;
}


.image-contain{
    position: absolute;
    background: #3763eb;
    display: flex;  
    padding: 3px 9px;
    border-radius: 27px;
    margin-top: -53px;
    margin-left: 222px;
} 
.image-contain img{
    border-radius: 50%;
    height: 35px;
    width: 35px;
}
.image-contain h4{
    font-size: 14px;
    color: #fff;
    margin-top: 8px;
    margin-left: 12px;
}


.footer-section{
    background: #081828;
    padding: 50px 0;
    color: #fff;
}
.fotter-logo img{
    width: 130px;

}
.footer-contain p{  

    font-size: 17px;
    margin-top: 25px;
}

.footer-icon ul{
    list-style: none;
   
    display: flex;
   
    padding: 0;
}
.footer-icon ul li{
    display: inline-block;
    
    margin-right: 23px;
    text-align: right;

}
.footer-icon ul li a{
    color: #fff;
   
} 
.footer-heding h3{
    font-size: 18px;
    margin-left: 48px;
    margin-bottom: 17px;
    position: relative;
}
.footer-heding h3::before{
    content: "";
    position: absolute;
    height: 22px;
    width: 2px;
    top: 0px;
    left: -10px;
    background: #3763eb;
 
}
.footer-heding ul{
    list-style: none;
    line-height: 34px;
    color: #8f95a1;
    
}


.footer-end{
    border-top: 1px solid #4a5561;
  
}
 .footer-end p{
    margin-top: 33px;

    font-size: 13px;
    color: #999fa6;
}


